.cmp-teaser {
    position: relative;
    display: block;
    overflow: hidden;
}

.cmp-teaser__image picture {
    display: block;
    height: auto;
    font-size: 0;
}

.cmp-teaser__image img {
    width: 100%;
    height: auto;
}