:root {
    --mobile-section-columns: 1;
    --desktop-section-columns: 1;
}

main > .section[class*="-grid-view"] {
    --section-columns: var(--mobile-section-columns);

    grid-template-columns: repeat(var(--section-columns), 1fr);
}


@media (width >= 900px) {
    main > .section.desktop-grid-view {
        --section-columns: var(--desktop-section-columns);

        display: grid;
        gap: var(--space-8);
        padding: var(--space-0) var(--space-8);
    }

    main > .section.desktop-grid-view > * {
        margin: unset;
        padding: unset;

    }
}

@media (width < 900px) {
    main > .section.mobile-grid-view {
        display: grid;
    }

    main > .section.mobile-grid-view > * {
        margin: unset;
    }
}