main {
    display: grid;
    grid-template-columns: minmax(16px, 1fr) 300px auto minmax(16px, 1fr);
    gap: 16px;
    max-width: 1400px;
    margin: 0 auto; /* centers the whole layout */
}


header { grid-area: header; background:#ddd; padding:1rem; }
aside  { grid-area: aside;  background:#eee; padding:1rem; }
main   { grid-area: main;   background:#fafafa; padding:1rem; }
footer { grid-area: footer; background:#ddd; padding:1rem; }

aside {
    grid-row: 1 / span 10;
    width: 300px;
    grid-column: 2;
}

main > div {
    grid-column: 3;
    box-sizing: border-box;
}