main {
    margin: 0 auto;
    background: #fafafa;
}

header {
    background: #ddd;
}

footer {
    background: #ddd;
}

@media (width >= 900px) {
    main {
        display: grid;
        grid-template-columns: 1fr 300px auto 1fr;
        gap: 16px;
        max-width: 1400px;
    }

    aside {
        background: #eee;
        padding: 1rem;
        grid-row: 1 / span 10;
        width: 300px;
        grid-column: 2;
    }

    main > div {
        grid-column: 3;
    }
}

main > div.section {
    margin: 0;
}