:root {
    /* Color Theme Swatches in Hex */
    --color-bg: #FAF8FB;        /* Light background */
    --color-text: #2E2E38;      /* Primary text */

    /* Base Colors */
    --color-primary: #5f00bf;   /* Plum */
    --color-primary-light: #7501e4;   /* Plum */
    --color-accent: #eddcff;    /* Softer plum accent */

    /* Neutral Palette */
    --color-surface: #fff;   /* Card / surface */
    --color-border: #E6DCEC;    /* Soft borders */
    --color-text-muted: #6A5E70; /* Secondary text */

    /* States */
    --color-success: #8BC48A;
    --color-warning: #E8C074;
    --color-error: #D57A7A;

    /* fonts */
    --body-font-family: fira-code, roboto-fallback, sans-serif;

    /* body sizes */
    --body-font-size-m: 22px;
    --body-font-size-s: 19px;
    --body-font-size-xs: 17px;

    /* heading sizes */
    --heading-font-size-xxl: 55px;
    --heading-font-size-xl: 44px;
    --heading-font-size-l: 34px;
    --heading-font-size-m: 27px;
    --heading-font-size-s: 24px;
    --heading-font-size-xs: 22px;
    
    /* spacings */
    --space-unit: 4px;
    --space-half: calc(0.5 * var(--space-unit));
    --space-0: calc(0 * var(--space-unit));
    --space-1: calc(1 * var(--space-unit));
    --space-1-half: calc(1.5 * var(--space-unit));
    --space-2: calc(2 * var(--space-unit));
    --space-3: calc(3 * var(--space-unit));
    --space-4: calc(4 * var(--space-unit));
    --space-5: calc(5 * var(--space-unit));
    --space-6: calc(6 * var(--space-unit));
    --space-7: calc(7 * var(--space-unit));
    --space-8: calc(8 * var(--space-unit));
    --space-9: calc(9 * var(--space-unit));
    --space-10: calc(10 * var(--space-unit));
    --space-11: calc(11 * var(--space-unit));
    --space-12: calc(12 * var(--space-unit));
    --space-13: calc(13 * var(--space-unit));
    --space-14: calc(14 * var(--space-unit));
    --space-15: calc(15 * var(--space-unit));
    --space-16: calc(16 * var(--space-unit));
    --space-17: calc(17 * var(--space-unit));
    --space-18: calc(18 * var(--space-unit));
    --space-19: calc(19 * var(--space-unit));
    --space-20: calc(20 * var(--space-unit));
    --space-21: calc(21 * var(--space-unit));
    --space-22: calc(22 * var(--space-unit));
    --space-23: calc(23 * var(--space-unit));
    --space-24: calc(24 * var(--space-unit));
    --space-25: calc(25 * var(--space-unit));
    --space-26: calc(26 * var(--space-unit));
    --space-27: calc(27 * var(--space-unit));
    --space-28: calc(28 * var(--space-unit));
    --space-29: calc(29 * var(--space-unit));
    --space-30: calc(30 * var(--space-unit));
    --space-31: calc(31 * var(--space-unit));
    --space-32: calc(32 * var(--space-unit));
    --space-33: calc(33 * var(--space-unit));
    --space-34: calc(34 * var(--space-unit));
    --space-35: calc(35 * var(--space-unit));
    --space-36: calc(36 * var(--space-unit));
    --space-37: calc(37 * var(--space-unit));
    --space-38: calc(38 * var(--space-unit));
    --space-39: calc(39 * var(--space-unit));
    --space-40: calc(40 * var(--space-unit));
    --space-41: calc(41 * var(--space-unit));
    --space-42: calc(42 * var(--space-unit));
    --space-43: calc(43 * var(--space-unit));
    --space-44: calc(44 * var(--space-unit));
    --space-45: calc(45 * var(--space-unit));
    --space-46: calc(46 * var(--space-unit));
    --space-47: calc(47 * var(--space-unit));
    --space-48: calc(48 * var(--space-unit));
    --space-49: calc(49 * var(--space-unit));
    --space-50: calc(50 * var(--space-unit));

    /* Button Tokens */
    --button-transition: ;
    --button-background-color: var(--color-primary);
    --button-text-color: var(--color-surface);
    --button-background-color-hover: var(--color-primary-light);
    --button-font-wight: 500;
    --button-spacing: var(--space-2) var(--space-4);
    --button-border-radius: var(--space-0);
    --button-border-size: var(--space-half);
    --button-border-style: solid;
    --button-border-color: var(--color-primary);
    --button-border-color-hover: var(--color-primary-light);

    /* Button secondary tokens */
    --button-background-color-secondary: var(--color-surface);
    --button-background-color-hover-secondary: var(--color-accent);
    --button-text-color-secondary: var(--color-primary);
}

* {
    box-sizing: border-box;
}

a {
    color: var(--color-text);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a.button {
    background-color: var(--button-background-color);
    color: var(--button-text-color);
    padding: var(--button-spacing);
    font-weight: var(--button-font-wight);
    transition: var(--button-transition);
    border-radius: var(--button-border-radius);
    border: var(--button-border-size);
    border-style: var(--button-border-style);
    border-color: var(--button-border-color);
    display: inline-block;
    text-decoration: none;
}

a.button:hover {
    background-color: var(--button-background-color-hover);
    border-color: var(--button-border-color-hover);
}

a.button.secondary {
    background-color: var(--button-background-color-secondary);
    color: var(--button-text-color-secondary);
    font-style: normal;
}

a.button.secondary:hover {
    background-color: var(--button-background-color-hover-secondary);
}

body {
    display: none;
    margin: 0;
    background-color: var(--color-bg);
    color: var(--color-text);
    font-family: var(--body-font-family);
}

/* fallback fonts */
@font-face {
  font-family: roboto-condensed-fallback;
  size-adjust: 88.82%;
  src: local('Arial');
}

@font-face {
  font-family: roboto-fallback;
  size-adjust: 99.529%;
  src: local('Arial');
}

@media (width >= 900px) {
  :root {
    /* body sizes */
    --body-font-size-m: 18px;
    --body-font-size-s: 16px;
    --body-font-size-xs: 14px;

    /* heading sizes */
    --heading-font-size-xxl: 45px;
    --heading-font-size-xl: 36px;
    --heading-font-size-l: 28px;
    --heading-font-size-m: 22px;
    --heading-font-size-s: 20px;
    --heading-font-size-xs: 18px;
  }
}

body.appear {
  display: block;
}

header {
  height: 64px;
}

header .header,
footer .footer {
  visibility: hidden;
}

header .header[data-block-status="loaded"],
footer .footer[data-block-status="loaded"] {
  visibility: visible;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0.8em;
  margin-bottom: 0.25em;
  font-weight: 600;
  line-height: 1.25;
  scroll-margin: 40px;
}

h1 { font-size: var(--heading-font-size-xxl); }
h2 { font-size: var(--heading-font-size-xl); }
h3 { font-size: var(--heading-font-size-l); }
h4 { font-size: var(--heading-font-size-m); }
h5 { font-size: var(--heading-font-size-s); }
h6 { font-size: var(--heading-font-size-xs); }

p,
dl,
ol,
ul,
pre,
blockquote {
  margin-top: 0.8em;
  margin-bottom: 0.25em;
}

code,
pre {
  font-size: var(--body-font-size-s);
}

pre {
  padding: 16px;
  border-radius: 8px;
  overflow-x: auto;
  white-space: pre;
}

main > div {
  margin: 40px 16px;
}

input,
textarea,
select,
button {
  font: inherit;
}

main img {
  max-width: 100%;
  width: auto;
  height: auto;
}

.icon {
  display: inline-block;
  height: 24px;
  width: 24px;
}

.icon img {
  height: 100%;
  width: 100%;
}

/* sections */
main > .section {
  margin: 40px 0;
    display: flex;
    flex-direction: column;
    gap: var(--space-6);
}

main > .section > div {
  max-width: 1200px;
  margin: auto;
  padding: 0 24px;
}

main > .section:first-of-type {
  margin-top: 0;
}



@media (width >= 900px) {
  main > .section > div {
    padding: 0 32px;
  }

    main > .section {
        display: block;
    }
}